<div class="col-sm-8 col-sm-offset-2">
  <%= form_for(@article) do |f| %>
    <% if @article.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@article.errors.count, "error") %> prohibited this article from being saved:</h2>

        <ul>
        <% @article.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>

    <div class="form-group">
      <%= f.label :store_id %><br>
      <%= collection_select(:article, :store_id, Store.all, :id, :name, {}, {:class=>'form-control'}) %>
    </div>

     <div class="form-group">
      <%= f.label :name %><br>
      <%= f.text_field :name, class: 'form-control', placeholder: 'Name' %>
    </div>

    <div class="form-group">
      <%= f.label :description %><br>
      <%= f.text_area :description, class: 'form-control', placeholder: 'Description' %>
    </div>

    <div class="form-group">
      <%= f.label :price %><br>
      <%= f.text_field :price, class: 'form-control', placeholder: 'Price' %>
    </div>

    <div class="form-group">
      <%= f.label :total_in_shelf %><br>
      <%= f.text_field :total_in_shelf, class: 'form-control', placeholder: 'Total in shelf' %>
    </div>

    <div class="form-group">
      <%= f.label :sku %><br>
      <%= f.text_field :sku, class: 'form-control', placeholder: 'SKU' %>
    </div>

    <div class="form-group">
      <%= f.label :total_in_vault %><br>
      <%= f.text_field :total_in_vault, class: 'form-control', placeholder: 'Total in vault' %>
    </div>

    <div class="form-group">
        <%= f.file_field :thumbnail %>
    </div>
    <div class="actions">
      <%= f.submit "Submit", class: "btn btn-primary" %>
    </div>
  <% end %>
</div>
