<%- model_class = Store -%>

<div class="alert alert-info clearfix alert-dismissible" role="alert">
    <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
    <strong>Hey <%= current_user.login %>!</strong>.
  <%= link_to('Add Stores', new_store_path, :class => 'btn btn-sm btn-primary pull-right') %>
</div>

<div class="row">
  <% @stores.each do |store| %>
  <div class="col-sm-3 thumbnail">
    <div class="col-item">
        <div class="photo">
            <img src="<%= store.thumbnail.thumb.url %>" class="img-responsive" alt="a">
        </div>
        <div class="info">
            <div class="row">
                <div class="price col-md-6">
                    <h5><%= link_to store.name, store %></h5>
                </div>
                <div class="rating hidden-sm col-md-6">
                </div>
            </div>
            <div class="caption">
              <p> 
                <%= truncate store.address, length: 80 %>
              </p>
            </div>
            <div class="separator clear-left">
                <p class="btn-details">
                    <i class="fa fa-list"></i><%= link_to 'More details', store %></p>
            </div>
            <div class="clearfix">
            </div>
        </div>
    </div>
</div>
  <% end %>
</div>